/* ======= Font import From google fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* === All styles None === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* ===== Shared styles ====== */
.flex {
    display: flex;
}

.btn {
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-image: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
}

.text-grad {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*============= Header styles =========== */

header {
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

header nav {
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;
}

header nav .brand {
    font-size: 2.4rem;
    color: #fff;
}

header nav ul {
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}

header nav ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

header nav ul a:hover {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

header nav .hambarger {
    display: none;
}

/* ===== Banner Section style ====== */
/* ===== Banner Section style ====== */
#banner {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 101px 525px;
}

#banner .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.banner-container .circle-container {
    padding: 0px 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container .circle {
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-container .circle .pop-up {
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    box-shadow: -2px 0px 7px rgb(12, 114, 10);
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 19px;
    bottom: 300px;
}


.banner-container .banner-content {
    text-align: center;
}

.banner-container .banner-content h1 {
    font-size: 3.75rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 8px;
}

.banner-container .banner-content p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 24px;
}

.banner-container .banner-content .banner-btn {
    padding: 16px 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.banner-container .banner-content #spotify {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}

.banner-content #spotify:hover {
    background: #00FF88;
}

.banner-content #subscribe {
    border: 1px solid #00FF88;
    background: transparent;
    color: #00FF88;
    margin-left: 8px;
}

.banner-content #subscribe:hover {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: 1px solid #1A0B2E;
    color: #fff;
}


/* ======== About section Styles =========== */
#about {
    max-width: 1600px;
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
    margin: 0 auto;
}

#about .about-content {
    max-width: 1200px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

#about .about-content h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;
}

#about .about-content p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 20px;
}

#about .about-achivement {
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 80px;
}

#about .about-achivement .achive-card h1 {
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 16px;
    text-align: center;
}

#about .about-achivement .achive-card p {
    color: rgba(255, 255, 255, 0.6);
}


/* ======== Choose Section styles  =========== */
#choose {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230e3d;
    color: #fff;
    padding: 120px 200px;
}

#choose h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
}

#choose .choose-card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "headphone device device"
        "headphone location location"
        "export export resource";
}

.headphone {
    grid-area: headphone;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.device {
    grid-area: device;
}

.location {
    grid-area: location;
}

.export {
    grid-area: export;
}

.resource {
    grid-area: resource;
}

#choose .choose-card-container .choose-card {
    background-color: rgba(53, 17, 101, 0.4);
    /*color exact from figma*/
    border-radius: 40px;
    padding: 40px;
}

#choose .choose-card-container .choose-card h4 {
    font-size: 24px;
    font-weight: 800;
    margin: 16px 0px;
}

#choose .choose-card-container .choose-card p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}


/* ====== Feature Section Styles ============ */
#features {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    color: #fff;
    padding: 120px 200px;
}

#features .episode-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.episode-container h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}

#features .episode-container .episode-box {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#features .episode-container .episode-box .episode-card {
    background-color: #250D44;
    border-radius: 24px;
}

#features .episode-container .episode-box .episode-card .video-link {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

#features .episode-container .episode-box .episode-card .episode-card-title {
    padding: 24px;
}

#features .episode-container .episode-box .episode-card .episode-card-title h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: left;
}

#features .episode-container .episode-box .episode-card p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    font-size: 1rem;
    margin-bottom: 12px;
}

#features .episode-container .episode-box .episode-card .time-atamp {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
    font-weight: 600;
}


/* ======== */
#features .feature-host-container {
    max-width: 1200px;
    margin: 0 auto;
}

#features .feature-host-container h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}

#features .feature-host-container .feature-host {
    justify-content: space-around;
    gap: 24px;
    align-items: center;
    padding: 40px;
    background-color: #230e3d;
    border-radius: 30px;
}

#features .feature-host-container .feature-host h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.feature-host p {
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 16px;
}

#features .feature-host-container .feature-host .host-social-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.feature-host .host-social-icon .hst-icon {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-host .host-social-icon .hst-icon:hover {
    cursor: pointer;
    background-color: #412567;
}

/* ======= Footer Section Styles  ========== */
footer {
    max-width: 1600px;
    height: 412px;
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}


footer h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

footer .footer-social-icon {
    max-width: 550px;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

footer .footer-social-icon>div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}





/* ========= Media Query styles =============== */

@media screen and (max-width:576px) {


    /* ======= Header Media Styles =============== */
    header nav ul,
    nav .btn {
        display: none !important;
    }

    header nav .hambarger {
        display: block;
    }

    header nav .hambarger:hover {
        box-shadow: 1px 2px 9px rgba(255, 255, 255, 0.6);
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
    }

    header nav .brand {
        font-size: 1.5rem;
    }


/* =========== Media Query Styles ================== */

    #banner {
        padding: 40px 20px;
    }

    .banner-container .circle-container {
        padding: 24px 10px 24px;
    }

    .circle-container .circle {
        width: 200px;
        height: 200px;
    }

    .circle-container .circle .pop-up {
        font-size: 16px;
        right: 12px;
        bottom: 170px;
        box-shadow: -2px 2px 9px #9100F8;
    }

    .circle-container .circle img {
        width: 25%;
    }

    .banner-container .banner-content h1 {
        font-size: 2.5rem;
    }


    
    /* =========== Some Share Styles ========================== */
    #about,
    #choose,
    #features {
        padding: 40px 20px;
    }

    #about .about-content h1,
    #about .about-achivement .achive-card h1,
    #choose h1,
    #features .episode-container h1,
    #features .feature-host-container h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    /* ======= About media style  ======= */

    #about .about-content {
        margin-bottom: 40px;
    }

    #about .about-achivement {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        padding-top: 40px;
    }


    /* =======  Choosing Section Media ========= */
    #choose .choose-card-container {
        gap: 24px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headphone"
            "device"
            "location"
            "export"
            "resource"
        ;
    }

    #choose .choose-card-container .choose-card {
        border-radius: 24px;
        padding: 24px;
    }

    #choose .choose-card-container .choose-card h4 {
        font-size: 22px;
    }


    /* ======== Feature Section Media Style   =============== */

    #features .episode-container {
        margin-bottom: 60px;
    }

    #features .episode-container .episode-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    #features .feature-host-container .feature-host {
        gap: 16px;
        padding: 24px;
        flex-direction: column;
        text-align: center;
    }

    #features .feature-host-container .feature-host h2 {
        font-size: 24px;
    }

    #features .feature-host-container .feature-host .host-image img {
        width: 150px;
        height: 150px;
    }

    #features .feature-host-container .feature-host .host-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ========== Foooter  Media style    ============ */
    footer {
        height: 248px;
        gap: 24px;
    }

    footer .footer-social-icon {
        max-width: 255px;
        flex-wrap: wrap;
        gap: 16px;
    }


}